*{
  padding: 0;
  margin: 0;
}


body {
  /* background-image: url("https://static.sciencelearn.org.nz/images/images/000/003/176/embed/FIR_ITV_RuralFireRisk_Weather_CloudySky_123RF_901534.jpg?1522314128"); */
  background-repeat: no-repeat;
  background-color: #81cbeb;
  background-size: cover;
  

}

